/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;600;700&display=swap');

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   --beige-color: #F0E5CF;
   --lt-grey-color: #F7F6F2;
   --dk-grey-color: #C8C6C6;
   --navy-color: #4B6587;
}

body {
    font-family: 'Afacad', sans-serif;
}

/* ----- */
/* Utility Classes */
/* ----- */

.flex {
    display: flex;
}

#navbar-section {
    align-items: center;
    justify-content: space-between;

    text-transform: uppercase;
    padding: 2rem;

    background-color: var(--dk-grey-color);
}

#nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

#nav-list a {
    text-decoration: none;
    color: var(--lt-grey-color);
}

/* mobile view */
@media (max-width: 1024px) {
    #nav-list {
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 30%;

        padding: min(30vh, 5rem) 2em;
        background-color: var(--navy-color);
    }
}