/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;600;700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   --beige-color: #F0E5CF;
   --lt-grey-color: #F7F6F2;
   --dk-grey-color: #999999;
   --blk-color: #1a1a1a;
   --navy-color: #4B6587;
}

body {
    font-family: 'Afacad', sans-serif;
}

/* ----- */
/* Utility Classes */
/* ----- */

.flex {
    display: flex;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

.photo-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--navy-color);
}

p {
    font-size: 1.2rem;
}

/* ----- */
/* HEADER SECTION */
/* ----- */

header {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1565182999561-18d7dc61c393?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjQxNDUyfQ&w=1920');
}

.page-title {
    height: calc(100vh - 77.47px);
    justify-content: center;
    align-items: center;

    color: var(--lt-grey-color);
    font-size: 2rem;
    font-family: 'Old Standard TT', serif;
    
    text-transform: uppercase;
}

h1 {
    background-color: var(--navy-color);
    padding: 2rem;
}

/* ----- */
/* NAVBAR */
/* ----- */

#navbar-section {
    position: fixed;
    align-items: center;
    justify-content: space-between;

    text-transform: uppercase;
    font-weight: 700;
    padding: 1.5rem;

    background-color: var(--blk-color);

    width: 100%;
}

.company-logo {
    width: 10rem;
}

.mobile-nav-toggle {
    display: none;
}

#nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: var(--lt-grey-color);
}
.nav-link::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--lt-grey-color);
    bottom: -10px;
    transition: 350ms;
}
.nav-link:hover::after {
    width: 100%;
}

/* ----- */
/* MARKETING PLAN INTRO */
/* ----- */

#marketing-strat, #comapp-section, #intl-section {
    background-color: var(--blk-color);
    color: var(--lt-grey-color);
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
    align-items: center;
}

#marketing-strat img, #comapp-section img, .mainft-photo img {
    width: 100%;
}

#marketing-strat h3, #comapp-section h3, #intl-section h3 {
    font-family: 'Old Standard TT', serif;
    font-size: 2rem;

    margin-bottom: 1rem;
}

/* ----- */
/* COMPRE PLAN */
/* ----- */

#plan-section {
    padding: 3rem;
    flex-direction: column;
    align-items: center;
}
#plan-section h2 {
    font-size: 2em;

    text-transform: uppercase;
    text-align: center;
}

#marketing-plan {
    padding: 3rem;
    gap: 1.5rem;
}

.plan-container {
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.plan-icon {
    width: 5rem;
}

/* ----- */
/* BUY-SELL SECTION */
/* ----- */

#buy-sell-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
}

#buy-photo {
    background: url('./images/buy-photo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sell-photo {
    background: url('./images/sell-photo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.process-container {
    display: flex;
    flex-direction: column;
    background: var(--blk-color);
    color: var(--lt-grey-color);
    padding: 1rem;
}

.process-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.process-container li {
    margin-bottom: 1rem;
    position: relative;
}

.process-title {
    text-transform: uppercase;

    font-family: 'Old Standard TT', serif;
    font-size: 3rem;
}
.process-title::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 5px;
    background-color: var(--lt-grey-color);
    bottom: -5px;
    width: 15%;
}
  
.process-container .number {
    font-weight: 700;
}

/* ----- */
/* COMMUNICATION APPLICATION */
/* ----- */

/* ----- */
/* STRATEGIES SECTION */
/* ----- */

#strategies-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 5rem;
}

.strat-caption {
    text-align: center;
}
.strat-caption h3 {
    font-family: 'Old Standard TT', serif;
    font-size: 3rem;

    text-transform: uppercase;
    text-align: center;
}
.strat-caption p {
    font-size: 1.2rem;
}

/* ----- */
/* MARKET TO THE WORLD */
/* ----- */

#world-market {
    padding: 0rem 5rem 5rem 5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#world-market h2 {
    font-size: 2rem;

    text-transform: uppercase;
    text-align: center;
}

#wm-intro {
    padding-bottom: 2rem;
}

#wm-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

/* ----- */
/* INTL SECTION */
/* ----- */

#intl-section p {
    padding-bottom: 2rem;
}

.sub-partners-photo {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: white;
}

.sub-partners-photo img {
    height: 5rem;
}

/* ----- */
/* WORK WITH US */
/* ----- */

#work-with-us {
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#invite-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./images/interior.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#text-container {
    text-align: center;
    margin: 2rem;
    padding: 1rem;

    background: hsla(214, 29%, 41%, 0.785);
    backdrop-filter: blur(0.1rem);
    color: var(--lt-grey-color);
}
#text-container h2 {
    font-family: 'Old Standard TT', serif;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
}
#text-container h2::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 1.5px;
    background-color: var(--lt-grey-color);
    bottom: -1rem;
    left: 40%;
    width: 20%;
}
#text-container p {
    margin-top: 2rem;
}

form {
    text-align: center;
}
#form-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form-section h3 {
    font-size: 1.5rem;
    padding: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}
fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
}
label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: left;
}
label input {
    border: none;
    border-bottom: 1px solid var(--blk-color);
    margin-top: 10px;
    transition: border-bottom 0.3s;
    height: 2rem;
    padding: 1rem;
}

form p {
    font-size: 1rem;
    padding: 2rem;
}

footer a {
    color: black;
}

button {
    background-color: var(--blk-color);
    color: var(--lt-grey-color);
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--navy-color);
}

/* ----- */
/* FOOTER */
/* ----- */

footer {
    padding: 0 5rem 5rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

footer h3 {
    font-size: 2rem;
}

footer h4 {
    font-size: 1.2rem;
}

#account-info {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

footer form {
    text-align: left;
}

#small-logos {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#realtor-logo {
    height: 3rem;
}

#equal-opp-logo {
    height: 3rem;
}

#sereno-main-logo {
    height: 1rem;
}

/* mobile view */
@media (max-width: 1024px) {
    .page-title {
        font-size: 1rem;
    }
    
    #nav-list {
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 30%;

        padding: min(30vh, 5rem) 2em;
        background: hsla(214, 29%, 41%, 0.785);
        backdrop-filter: blur(0.5rem);

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    #nav-list[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url('./assets/burger-menu-svgrepo-com.svg');
        background-size: 2rem;
        background-repeat: no-repeat;
        object-fit: cover;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('./assets/close-svgrepo-com.svg');
        background-size: 2rem;
    }

    #marketing-strat h3, #comapp-section h3, #intl-section h3 {
        font-size: 1.5rem;
    }

    #buy-sell-section {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 0.5rem;

        padding: 0 2rem 5rem 2rem;
    }

    .process-title {
        font-size: 2rem;
    }

    #strategies-section, #marketing-strat, #comapp-section, #plan-section {
        padding: 5rem 2rem 5rem 2rem;
    }

    #intl-section {
        display: flex;
        flex-direction: column;
        padding: 5rem 2rem 5rem 2rem;
    }

    #world-market {
        padding: 0 2rem 5rem 2rem;
    }

    .strat-caption h3 {
        font-size: 2rem;
    }
}

@media (min-width: 426px) and (max-width: 1024px) {
    #nav-list {
        inset: 0 0 0 70%;
    }

    .plan-icon {
        width: 3rem;
    }
}

@media (max-width: 768px) {
    #marketing-strat, #comapp-section {
        display: flex;
        flex-direction: column;
    }

    #marketing-plan {
        flex-direction: column;
    }

    #success-photo img {
        width: 25rem;
        height: auto;
    }

    #wm-items {
        display: flex;
        flex-direction: column;
    }

    .sub-partners-photo img {
        height: 3rem;
    }

    #work-with-us {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding-bottom: 2rem;
    }
    #text-container h2 {
        font-size: 1.5rem;
    }

    form p {
        padding: 1rem;
    }

    footer {
        padding: 0rem 2rem 2rem 2rem;
    }

    footer, #account-info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
}

@media (max-width: 426px) {
    h1 {
        padding: 1.5rem;
    }

    .plan-icon {
        width: 3rem;
    }

    .process-title {
        font-size: 1.5rem;
    }

    .strat-caption h3 {
        font-size: 1.5rem;
    }

    #success-photo img {
        width: 18rem;
    }

    .sub-partners-photo img {
        height: 2rem;
    }

    #realtor-logo {
        height: 2rem;
    }
    
    #equal-opp-logo {
        height: 2rem;
    }
    
    #sereno-main-logo {
        height: 1rem;
    }
}